
/*//////////////////////////////////////////////////////////////////
[ BACKGROUND ]*/

.back-1 {
  background-image: url("../images/backgrounds/loginBack.jpg");
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url("../images/backgrounds/loginBack.jpg");
  background-size: cover;
  /*background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0); */
}

.wrap-login100 {
  width: 960px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 130px 70px 95px;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 290px;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
[ home ]*/

.container-home {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url("../images/backgrounds/loginBack.jpg");
  background-size: cover;
  /*background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0); */
}

.wrap-home {
  width: 700px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 33px 130px 33px 95px;
}

.home-pic {
  width: 316px;
  margin-left: 120px;
  
}

.home-pic img {
  max-width: 75%;
  
}

.home-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  
  padding-bottom: 60px;
 
  
}



/*------------------------------------------------------------------
[ Button ]*/
.container-home-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.home-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.home-form-btn-invitado {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #3d8b9e;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.home-form-btn:hover {
  background: #333333;
}

.home-form-btn-invitado:hover {
  background: #00082c;
}


/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-home {
    padding: 177px 90px 33px 85px;
  }

  .home-pic {
    width: 35%;
  }

  
}

@media (max-width: 768px) {
  .wrap-home {
    padding: 100px 80px 33px 80px;
  }

  .home-pic {
    display: none;
  }

  .home-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-home {
    padding: 100px 15px 33px 15px;
  }
}


/*//////////////////////////////////////////////////////////////////
[ register ]*/


.container-registro {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url("../images/backgrounds/loginBack.jpg");
  background-size: cover;
  /*background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0); */
}

.wrap-registro {
  width: 500px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding: 33px 10px 33px 10px;
}

.container-registro-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  
}

.registro-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  
}


.registro-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
[ Responsive ]*/


@media (max-width: 992px) {
  .wrap-registro {
    padding: 177px 90px 33px 85px;
  }


  .registro-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-registro {
    padding: 100px 80px 33px 80px;
  }

  .registro-pic {
    display: none;
  }

  .registro-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-registro {
    padding: 100px 15px 33px 25px;
  }
}


/*//////////////////////////////////////////////////////////////////
[ cabezera ]*/


#main-header {
	background: rgb(0, 122, 61);
	color: white;
	height: 80px;
}	
	#main-header a {
		color: white;
	}

/*
 * Logo
 */


#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #000000;
	}
	
	#logo-header .site-name {
    display:flex;
    margin-top: -130px;
    margin-left: 170px;
    font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color:#999;
	}
	
  #logo-header .header-pic {
    width: 10;
    display:block;
  }

/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
      margin-top: 10px;
		}
			
			nav ul li a {
				display: block;
        margin-top: 15px;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #023801;
				}



/*//////////////////////////////////////////////////////////////////
[ MainMenu ]*/

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -10;
  visibility: visible;
  }

.b-busqueda{
  width: 1px;
  height: 0px;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  overflow: hidden;
  align-items:center;
  margin: 0px 0px 170px 0px;
 

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 130px 70px 95px;
}



#barra-busqueda{
  position: absolute;
  align-items:center;
  justify-content: center;
  



}
#barra-busqueda .busqueda-menu {

  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display:inline-block;
  position: relative;
  width: 10%;
  
  margin: 150px 210px ;
  background: #e6e6e6;
  height: 50px;
  border-color: #e6e6e6;
  border-radius: 25px;
  border-collapse: collapse;
  padding: 0 30px 0 68px;

}

#barra-busqueda .busqueda-menu2 {

  font-family: Poppins-Medium;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;

  display:block;
  position: relative;
  width: 10%;

  margin: -200px 370px ;
  background: #e6e6e6;
  border-color: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  border-collapse: collapse;
  padding: 0 30px 0 68px;

}

#barra-busqueda .busqueda-menu3 {

  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  position: relative;
  width: 10%;
  margin: 150.2px 530px ;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  border-collapse: collapse;
  padding: 0 30px 0 68px;

}

#barra-busqueda .busqueda-menu4 {

  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  position: relative;
  width: 13%;
  margin: -200px 705px ;
  background: #e6e6e6;
  height: 50px;
  border-radius: 10px;
  padding: 0 30px 0 68px;

}

#barra-busqueda .busqueda-menu5 {

  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #fffefe;

  display: block;
  position: relative;
  width: 8%;
  margin: -37px 1000px 500px 910px;
  background: #368844;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 10 68px;

}

#barra-busqueda .symbol-busqueda {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display:block;
  align-items: center;
  position: relative;

  border-radius: 25px;
  bottom: 0px;
  left: 0;
  width: 20%;
  height: 133%;
  padding-left: 230px;
  padding-top: 162px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-form {
  width: 290px;
}

.container-menu-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.menu-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-form-btn:hover {
  background: #333333;
}

.menu-form-title {
  font-family: Poppins-Bold;
  font-size: 45px;
  color: #ffffff;
  line-height: 1.2;
  text-align: right;
  

  width: 100%;
  display: block;
  padding-bottom: 30px;
  padding-right: 80px;
  padding-top: 60px;
}

.menu-form-text {
  font-family: Poppins-Bold;
  font-size: 14px;
  color: #ffffff;
  line-height: 1;
  text-align: right;
  

  width: 100%;
  display: block;
  padding-bottom: 30px;
  padding-right: 80px;
  padding-top: 10px;
}

@media (max-width: 992px) {
  #barra-busqueda {
    padding: 177px 90px 33px 85px;
  }

  #main-header{
    width: 10%;
  }
  .menu-form-title{
    padding: 177px 90px 33px 85px;
  }

  .menu-form-text{
    padding: 177px 90px 33px 85px;
  }

  .video{
    padding: 177px 90px 33px 85px;
  }
  .busqueda-menu {
    width: 60%;
  }
  .busqueda-menu2 {
    width: 60%;
  }
  .busqueda-menu3 {
    width: 60%;
  }
  .busqueda-menu4 {
    width: 60%;
  }
  .busqueda-menu5 {
    width: 60%;
  }

  
}

@media (max-width: 768px) {
  #barra-busqueda {
    padding: 100px 0px 33px 80px;
  }
  #main-header{
    width: 100000%;
  }

  .busqueda-menu {
    width: 35%;
  }
  .busqueda-menu2 {
    width: 35%;
  }
  .busqueda-menu3 {
    width: 35%;
  }
  .busqueda-menu4 {
    width: 35%;
  }
  .busqueda-menu5 {
    width: 35%;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #barra-busqueda {
    padding: 100px 15px 33px 15px;
  }

  #main-header{
    width: 100000%;
  }

  .busqueda-menu {
    width: 35%;
  }
  .busqueda-menu2 {
    width: 35%;
  }
  .busqueda-menu3 {
    width: 35%;
  }
  .busqueda-menu4 {
    width: 35%;
  }
  .busqueda-menu5 {
    width: 35%;
  }
}

/*//////////////////////////////////////////////////////////////////
[ crearPartido ]*/

.container-crearPartido {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-size: cover;
  /*background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0); */
}

.wrap-crearPartido {
  width: 960px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 130px 30px 30px;
}


.container-crearPartido-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.crearPartido-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.crearPartido-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}
<<<<<<< HEAD
=======

/*//////////////////////////////////////////////////////////////////
[ menuPerfil ]*/

.foto-perfil{
  width: 10px;
  height: 10px;
 
  max-width: 50px;
  min-width: 50px;
  
}

>>>>>>> 635c1e55247eae7bb86fdfdfc5430744f4c1b867
